<template name="cancelEditForm">
    <div class="modal fade" id="cancelEditModal" tabindex="-1" role="dialog"
         aria-labelledby="deleteCardsTitle">
        <div class="modal-dialog">
            <div class="modal-content modal-content-for-buttons">
                <div class="modal-header">
                    <span class="modal-icon">
                        <i class="fa fa-times"></i>
                    </span>
                    {{> mainModalItemCloseIcon}}
                    <h4 id="cancelEditTitle" class="modal-title">{{_ "modal-dialog.cancelEditCardTitle"}}
                    </h4>
                </div>
                <div class="modal-body">
                    {{_ "modal-dialog.cancelEditCard"}}
                </div>
                <div class="modal-footer">
                    <button id="cancelEditConfirm" class="btn btn-raised btn-danger pull-right">{{_
                            "modal-dialog.cancelEditCardTitle"}}</button>
                    <button id="cancelEditDismiss" class="btn btn-raised btn-default pull-left"
                            data-dismiss="modal">{{_
                            "modal-dialog.cancel"}}</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
</template>
