<template name="helpContentENCategoryMyCardsets">

    (##) Kartei anlegen

    <a href="/img/help/de/Kartei_anlegen.jpg" data-lightbox="img-1"
       data-title="Kartei anlegen">
        <img src="/img/help/de/Kartei_anlegen.jpg" alt="Kartei anlegen"
             class="img-responsive center-block">
    </a>
    <ul class="thm-numbering">
        <li><strong>Angaben zur Kartei:</strong> Der Titel einer Kartei sollte möglichst kurz und prägnant sein.
            Für eine ausführliche Beschreibung ist Platz im Beschreibungsfeld.
            Du solltest die Karteibeschreibung anspruchsvoll mit »Markdeep« gestalten, besonders wenn du die Kartei veröffentlichen willst.
            Titel und Beschreibung werden bei einer Suche durchforstet, achte also darauf, dass du einschlägige Fachbegriffe verwendest.
        </li>
        <li><strong>Karteitypen:</strong> 🍅cards wartet mit zahlreichen Karteitypen auf und unterscheidet sich dadurch von allen anderen Lernkartei-Apps.
            Nutze die Vielfalt, um den diversen Wissensaspekten eines Themas gerecht zu werden.
            Bei einigen Karteitypen kannst du den Schwierigkeitsgrad (Level) angeben. Die Karten werden dann unterschiedlich eingefärbt:
            grün für Basics, blau für Fortgeschritten und rot für Expert*in.
            In der Demo-Kartei findest du zu jedem Karteityp ein repräsentatives Beispiel aus Bachelor- und Mastermodulen.
            Ein Blick in die Demo lohnt sich!
        </li>
    </ul>
</template>
