<template name="impressumSupportHeadingDE">
    <h1>Impressum und Support</h1>
</template>

<template name="impressumSupportContentDE">
    <h2>Dienstanbieter</h2>
    <p>
        Der Betrieb der Webanwendung <b>🍅{{getLastAppTitle}}</b> unter <a href="home" target="_blank">
        {{getFirstAppTitle}}.{{getLastAppTitle}} </a> ist eine kostenlose Dienstleistung (&raquo;Software as
        a
        Service&laquo;) der
        TransMIT-Gesellschaft
        für Technologietransfer mbH, Projektbereich für mobile Anwendungen.
    </p>
    <p>
        Kerkrader Straße 3 <br/>
        D-35394 Gießen
    </p>
    <p>
        c/o THM – Technische Hochschule Mittelhessen <br/>
        Fachbereich MNI – Mathematik, Naturwissenschaften und Informatik <br/>
        Prof. Dr.-Ing. habil. Klaus Quibeldey-Cirkel <br/>
        Lehrstuhl für Softwaretechnik
    </p>
    <p>
        Wiesenstraße 14 <br/>
        D-35390 Gießen
    </p>
    <p>
        Telefon: +49 641 309-2450 <br/>
        E-Mail: <a href="mailto:klaus.quibeldey-cirkel@transmit.de">klaus.quibeldey-cirkel@transmit.de</a>
    </p>
    <p>
        Sitz der Gesellschaft: Gießen <br/>
        Website: <a href="https://www.transmit.de" target="_blank">https://www.transmit.de</a><br/>
        Rechtsform: GmbH <br/>
        Amtsgericht: Gießen HRB 3036 <br/>
        USt-IdNr.: DE 188 685 037
    </p>

    <h2>Support</h2>

    <p>
        Technische Fragen zur WebApp 🍅cards: <a href="mailto:curtis.adam@mni.thm.de">Curtis Adam</a><br/>
        Bugs &amp; Feature Requests: <a href="https://github.com/thm-projects/arsnova-flashcards/issues"
                                        target="_blank">GitHub</a><br/>
        Fragen zur didaktischen Konzeption von 🍅cards: <a
            href="mailto:klaus.quibeldey-cirkel@mni.thm.de">Prof. Dr. Klaus Quibeldey-Cirkel</a>
    </p>

    <h2>Bildnachweis</h2>

    <p>
        <a href="https://www.flickr.com/photos/christiaancolen/" target="_blank">Christiaan Colen</a> (CC BY-SA 2.0),
        <a href="https://www.flickr.com/photos/thomashawk/" target="_blank">Thomas Hawk</a> (CC BY-NC 2.0),
        <a href="https://www.flickr.com/people/acmpix/" target="_blank">Alan Morgan</a> (CC BY-NC-ND 2.0),
        <a href="https://de.wikipedia.org/wiki/Zettelkasten?oldformat=true#/media/File:Zettelkasten_(514941699).jpg" target="_blank">Kai Schreiber</a> (CC BY-SA 2.0)
    </p>
</template>
